// COLOR
$marquee_bg : #FF008A;
$white_text: #fff;
//?
$text_navbar: #0e2431;
$purple: #918BE4;
$grey_text: #272727;
$dark_purple: #7B73E1;
$rose: #F49894;
$dark_rose: #F58D88;
$grey: #36363E;
$dark_grey: #313138;
$grey_light: #F2F2F2;
$pink: #FF008A;